[user]
	email = devnich@gmail.com
	name = Gilgamesh
[core]
	autocrlf = input
	editor = emacs
[init]
	defaultBranch = main
[push]
	default = simple
[pull]
	rebase = false
[diff]
	algorithm = histogram
[gui]
	historybrowser = gitk
	wmstate = normal
[github]
	user = devnich
[credential]
	helper = cache

# Github Desktop inserts Large File Storage settings:
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# Unzip Office documents before running diff. For this to work, the project
# archive must also have a .gitattributes file with the following line:
#    *.docx diff=zip
#
# [diff "zip"]
#       textconv = unzip -c -a

# Settings for nbdime notebook diff/merge tool
[diff "jupyternotebook"]
	command = git-nbdiffdriver diff
[merge "jupyternotebook"]
	driver = git-nbmergedriver merge %O %A %B %L %P
	name = jupyter notebook merge driver
[difftool "nbdime"]
	cmd = git-nbdifftool diff \"$LOCAL\" \"$REMOTE\" \"$BASE\"
[difftool]
	prompt = false
[mergetool "nbdime"]
	cmd = git-nbmergetool merge \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\"
[mergetool]
	prompt = false
